name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9.1.0 
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm 

      - run: pnpm install --frozen-lockfile
      - run: pnpm typecheck
      - run: pnpm lint:strict
      - run: pnpm test:ci